@import url(cabecera.css);
@import url(pie.css);
@import url(registro.css);
@import url(catalogo.css);
@import url(home.css);


/* fondo de la pagina */
body {
    background-color: #FFF5E1;
    font-family: 'Source Sans 3', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans 3', Arial, sans-serif;
    background-color: #FFF5E1;
    color: #5D4037;
}





















